:root {
  --lightblue: #F6F9FC;
  --red: #800020;
}
html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;

}
 
a,
a:hover {
  color: inherit;
}
 
a:hover {
  text-decoration: none;
}
 
.bg-lightblue {
  background: var(--lightblue);
}
 
.bg-red {
  background: var(--red);
}
 
.text-red {
  color: var(--red);
}
 
.container-fluid-max {
  max-width: 1440px;
}
 
.cover {
  background: no-repeat center/cover;
}
 
.p-15 {
  padding: 15px;
}
.scroll .page-header {
  background: rgba(0, 0, 0, 0.3)
}
 
.page-header {
  transition: background 0.5s ease-in-out;
  /* background-color:rgba(0, 0, 0, 0.3); */
}
.page-header .navbar .navbar-nav .nav-item .navlink {
  font-size: 20px;
  /* margin-top: 27.5px; */
  margin-right: 21px;
  color: #222222;
  padding: 0 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  visibility: visible;
  height: 60px;
  padding-top: 29px;
  padding-left: 20px;
  
}
 
.page-header .navbar {
  padding: 1rem 0;
}
 
.page-header .navbar-toggler {
  border-color: var(--white); 
}
 
.hero2 {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
  
  
}
 
.hero2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
 
.hero2 .container-fluid {
  z-index: 10;
}
.hero-title{
  line-height: 65px;
  color: white;
  font-family: "Kaushan Script";
  font-weight: 1000;
  font-size: 70px;
  text-transform: uppercase;
}

 
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
  
  
}
 
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
 
.hero .container-fluid {
  z-index: 10;
}
.hero-title{
  /* line-height: 65px; */
  color: white;
  font-family: "Kaushan Script";
  /* font-weight: 1000; */
  /* font-size: 70px; */
  text-transform: uppercase;
  text-align: center;
}
.font{
  font-family: 'Montserrat', sans-serif;
}
.gradient{
  background-image: linear-gradient(to right,rgb(194, 27, 27) , rgb(138, 19, 19) );

}
.title-underlined{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background: #800020;
  left: 50%;
  margin-left: -40px;
  bottom: 0px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.icon{
  width: 60px;
}
.cForm{
  background-color:rgba(0, 0, 0, 0.8);
  
}
.nav-bg{
  background-color: rgba(0, 0, 0, 0.3) !important;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    color: white;
    height: 40px;
    width: 170px;
    background-color: gray;
    /* position: absolute; */
    font-size: 15px;
    /* margin-bottom: -330px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#contestant_background{
    background: url("img/bg2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg_color{
  background-color: rgb(138, 19, 19);
}

 
@media screen and (max-width: 991px) {
  .page-header {
    background: rgba(0, 0, 0, 0.3);
  }
}